<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">	
	<bean id="springContextUtils" class="com.demo.utils.SpringContextUtils" />
	<bean id="fundReadDao" class="com.services.dao.imp.FundReadDao" />
	<bean id="fundWriteDao" class="com.services.dao.imp.FundWriteDao" />
	<bean id="fundRateStepDao" class="com.services.dao.imp.FundRateStepDao" />
	<bean id ="fundRateDao" class="com.services.dao.imp.FundRateDao">
	    <property name="fundReadDao" ref="fundReadDao" />
	    <property name="fundRateStepDao" ref="fundRateStepDao" />
	</bean>	
	<bean id="fundRateRptDao" class="com.services.dao.imp.FundRateRptDao" />
    <bean id="fundService" class="com.services.imp.FundService">
        <property name="fundReadDao" ref="fundReadDao" />
        <property name="fundWriteDao" ref="fundWriteDao" />
    </bean>
    <bean id="fundRateService" class="com.services.imp.FundRateServiceSpring">
		<property name="fundRateDao" ref="fundRateDao" />		
    </bean>
    <bean id="fundRateRptService" class="com.services.imp.FundRateRptService">
		<property name="fundRateRptDao" ref="fundRateRptDao" />
    </bean>
    <bean id="fundRateRptServiceRunnable" class="com.services.imp.FundRateRptServiceRunnable">
		<property name="fundRateRptService" ref="fundRateRptService" />
    </bean>    
	<bean id="aFundSelenium" class="com.demo.seleniumtest.biz.AFundSeleniumSpring" abstract="true">
		<property name="fundService" ref="fundService" />
		<property name="fundRateService" ref="fundRateService" />
		<property name="fundRateRptService" ref="fundRateRptService" />
	</bean>
	<bean id="fireFoxSelenium" class="com.demo.seleniumtest.biz.FireFoxSeleniumSpring" parent="aFundSelenium" />
</beans>